doctype html
html(class='default', dir='ltr')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
    meta(name='author', content='SketchPixy, support@sketchpixy.com')
    meta(name='description', content='Rubix Admin Template')
    meta(name='keywords', content='admin, template, wrapbootstrap, metro, modern, flat, responsive')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='apple-touch-icon', sizes='57x57', href='/static/favicons/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/static/favicons/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/static/favicons/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/static/favicons/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/static/favicons/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/static/favicons/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/static/favicons/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/static/favicons/apple-touch-icon-152x152.png')
    meta(name='apple-mobile-web-app-title', content='Rubix')
    link(rel='icon', type='image/png', href='/static/favicons/favicon-196x196.png', sizes='196x196')
    link(rel='icon', type='image/png', href='/static/favicons/favicon-160x160.png', sizes='160x160')
    link(rel='icon', type='image/png', href='/static/favicons/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/static/favicons/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/static/favicons/favicon-32x32.png', sizes='32x32')
    meta(name='msapplication-TileColor', content='#E76049')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='application-name', content='Rubix')
    link(media='screen', rel='stylesheet', type='text/css', href='/static/css/vendor/pace/pace.css')
    link(media='screen', rel='stylesheet', type='text/css', href='/static/css/vendor/perfect-scrollbar/perfect-scrollbar.css')
    link(media='screen', rel='stylesheet', type='text/css', href='/static/css/vendor/morris/morris.css')
    link(media='screen', rel='stylesheet', type='text/css', href='/static/bower_components/codemirror/lib/codemirror.css')
    link(media='screen', rel='stylesheet', type='text/css', href='/static/bower_components/codemirror/theme/ambiance.css')
    style.
      .modal-backdrop.in {
      opacity: 0.5;
      position: fixed;
      top: 0; left: 0;
      right: 0; bottom: 0;
      }
    link(media='screen,print', rel='stylesheet', type='text/css', href='/static/css/app/raw/ltr/main.css')
    link(media='screen,print', rel='stylesheet', type='text/css', href='/static/css/app/raw/ltr/theme.css')
    link(media='screen,print', rel='stylesheet', type='text/css', href='/static/css/app/raw/ltr/colors.css')
    link(media='screen,print', rel='stylesheet', type='text/css', href='/static/css/app/raw/ltr/font-faces.css')
    link(media='screen,print', rel='stylesheet', type='text/css', href='/static/css/fonts/app/fonts.css')
  body(class='fade-out')
    block content
      #pace-loader
      #app-preloader
      #app-container
      #blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
        .slides
        h3.title
        p.description
        a.prev ‹
        a.next ›
        a.close ×
        a.play-pause
        ol.indicator
    block scripts
      script(type='text/javascript', src='/static/js/externals/pace.js')
      script(type='text/javascript', src='/static/js/externals/uuid.js')
      script(type='text/javascript', src='/static/js/externals/modernizr.js')
      script(type='text/javascript', src='/static/js/externals/codemirror.js')
      script(type='text/javascript', src='/static/js/externals/javascript.js')
      script(type='text/javascript', src='/static/js/externals/jquery.js')
      script(type='text/javascript', src='/static/js/externals/jquery-ui.min.js')
      script(type='text/javascript', src='/static/js/externals/moment.js')
      script(type='text/javascript', src='/static/js/externals/eventemitter2.js')
      script(type='text/javascript', src='/static/js/externals/vex.combined.min.js')
      script(type='text/javascript', src='/static/js/externals/Chart.js')
      script(type='text/javascript', src='/static/js/externals/trumbowyg.js')
      script(type='text/javascript', src='/static/js/externals/blueimp-gallery.js')
      script(type='text/javascript', src='/static/js/externals/perfect-scrollbar.min.js')
      script(type='text/javascript', src='/static/js/externals/react-with-addons.js')
      script(type='text/javascript', src='/static/js/externals/datatables.js')
      script(type='text/javascript', src='/static/js/externals/react-l20n.js')
      script(type='text/javascript', src='/static/js/externals/rubix-bootstrap.js')
      script(type='text/javascript', src='/static/js/externals/gmaps.js')
      script(type='text/javascript', src='/static/js/externals/bootstrap.js')
      script(type='text/javascript', src='/static/js/externals/bootstrap-slider.js')
      script(type='text/javascript', src='/static/js/externals/bootstrap-datetimepicker.js')
      script(type='text/javascript', src='/static/js/externals/ion.tabs.min.js')
      script(type='text/javascript', src='/static/js/externals/ion.rangeSlider.min.js')
      script(type='text/javascript', src='/static/js/externals/d3.js')
      script(type='text/javascript', src='/static/js/externals/jquery.knob.js')
      script(type='text/javascript', src='/static/js/externals/leaflet.js')
      script(type='text/javascript', src='/static/js/externals/sparklines.js')
      script(type='text/javascript', src='/static/js/externals/switchery.js')
      script(type='text/javascript', src='/static/js/externals/raphael.js')
      script(type='text/javascript', src='/static/js/externals/messenger.min.js')
      script(type='text/javascript', src='/static/js/externals/select2.js')
      script(type='text/javascript', src='/static/js/externals/xeditable.js')
      script(type='text/javascript', src='/static/js/externals/typeahead.js')
      script(type='text/javascript', src='/static/js/externals/jquery-steps.js')
      script(type='text/javascript', src='/static/js/externals/jquery-validate.js')
      script(type='text/javascript', src='/static/js/externals/tablesaw.js')
      script(type='text/javascript', src='/static/js/externals/fullcalendar.js')
      script(type='text/javascript', src='/static/js/externals/nestable.js')
      script(type='text/javascript', src='/static/js/externals/dropzone.js')
      script(type='text/javascript', src='/static/js/externals/color.js')
      script(type='text/javascript', src='/static/js/externals/jcrop.js')
      script(type='text/javascript', src='/static/js/externals/prism.js')
      script(type='text/javascript', src='/static/js/externals/morris.js')
      script(type='text/javascript', src='/static/js/externals/timeline.js')
      script(type='text/javascript', src='/static/js/externals/holder.js')
      script(type='text/javascript', src='/static/js/externals/c3.js')
      script(type='text/javascript', src='/static/js/externals/rubix.js')
      script(type='text/javascript', src='/static/js/externals/globals.js')
      script(src='/static/js/app/app.js')